@import url(https://fonts.googleapis.com/css?family=Michroma&display=swap
);

body {
    font-family: Michroma, serif;
    background: linear-gradient(90deg, #2e199a 1%, #000000 95%);
}
.bg-dark {
    background-color: #171717 !important;
}
p {
    color: rgb(246, 246, 246);
}

.nav-link {
    color: rgb(168, 168, 168);
}

.navbar-nav .nav-link.active {
    color: rgb(246, 246, 246);
}

.navbar-brand img {
    width: 40px;
}

.navbar-toggler {
    background-color: rgb(168, 168, 168);
}

.sidebar {
    color: rgb(246, 246, 246);
    background: linear-gradient(270deg, #2e199a 1%, #000000 95%);

}

.card {
    background: linear-gradient(270deg, #2e199a 1%, #000000 95%);
    color: rgb(246, 246, 246);
}

.card a {
    text-decoration: none;
    color: rgb(246, 246, 246);
}

.slide-text,
.footer-text {
    color: rgb(246, 246, 246);
    margin: auto auto;
}
.btn-outline-primary{
    background: linear-gradient(270deg, #2e199a 1%, #000000 95%);
}
footer {
    background-color: #111111;

}
.call-anim {
    animation: call 2s ease 0s infinite normal forwards;
}

@media (max-width: 755px) {
    .carousel-indicators {
        display: none;
    }
}


@keyframes call {
	0% {
		transform: translate(0);
	}

	20% {
		transform: translate(-2px, 2px);
	}

	40% {
		transform: translate(-2px, -2px);
	}

	60% {
		transform: translate(2px, 2px);
	}

	80% {
		transform: translate(2px, -2px);
	}

	100% {
		transform: translate(0);
	}
}
